@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$text-area-width: 40%;
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    margin: 0;
}

.main {
    margin: 0;
    display: grid;
    height: 100%;
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
        grid-area: text-area;
        color: $desaturated-red;
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

form {
    grid-area: form-area;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: $desaturated-red;
    display: flex;
    flex-direction: row;
    padding: 0;
    ::placeholder {
        color: $desaturated-red;
        font-weight: 300;
        opacity: 0.8;
    }
    & input {
        border: none;
        border-radius: 30px;
        display: block;
        padding: 1rem;
        flex-grow: 2;
        font-size: 1rem;
        &:focus {
            outline: none;
        }
    }
    & button {
        border: none;
        display: block;
        border-radius: 30px;
        padding: 0;
        min-width: 30px;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        flex-grow: 1;
        box-shadow: 9px 9px 25px -1px $desaturated-red;    
    }
}

footer {
    text-align: center;
    font-size: small;
    margin-top: 2rem;
}

h1 {
    grid-area: header-area;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 10px;
    & > p {
        margin: 5px;
        &:nth-child(1) {
            color: $desaturated-red;
            font-weight: 300;
        }
    }
}

#error-icon {
    display: none;
    z-index: 1;
    margin: auto;
    padding: 0.5rem;
}

#error-message {
    display: none;
    z-index: 1;
    margin: 0;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: $soft-red;
}

/* Mobile */
@media screen and (max-width: 375px) {
    #main-img {
        content: url(images/hero-mobile.jpg);       
    }
    
    .header {
        width: 100%;
        padding: 2rem;
    }

    .main {
        grid-template-columns: 1;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "logo-area"
        "img-area"
        "header-area"
        "text-area"
        "form-area";
    }

    h1 {
        text-align: center;
    }

    form {
        width: 80%;
        margin: 1rem 1rem 4rem 1rem;
        & button {
            width: 40px;
        }
    }
}

/* Desktop */
@media screen and (min-width: 376px) {
    #main-img {
        content: url(images/hero-desktop.jpg);
        grid-area: img-area;
        width: 100%;
        height: 100%;
    }

    .header {
        width: $text-area-width;
        margin: auto;
        padding: 4rem 0;
    }
    
    body {
        flex-direction: row;
        background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    .main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "logo-area img-area"
        "header-area img-area"
        "text-area img-area"
        "form-area img-area";
    }

    .text-content {
        & > * {
            width: $text-area-width;
        }
        & > p {
            line-height: 1.7;
            text-align: left;
        }
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    form {
        margin: 1rem 0;
        & button:hover {
            cursor: pointer;
            opacity: 0.9;
            box-shadow: 9px 9px 20px 2px $desaturated-red;
        }
    }
}