@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    width: 100%;
    padding: 2rem;
}

body {
    margin: 0;
}

.main {
    margin: 0;
    display: grid;
    height: 100%;
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > p {
        grid-area: text-area;
        color:hsl(0, 36%, 70%);
        text-align: center;
        line-height: 1.2;
        font-weight: 400;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

form {
    grid-area: form-area;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: hsl(0, 36%, 70%);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0;
    ::placeholder {
        color:hsl(0, 36%, 70%);
        font-weight: 300;
        opacity: 0.8;
    }
    & input {
        border: none;
        display: block;
        padding: 1rem;
        flex-grow: 2;
    }
    & button {
        border: none;
        display: block;
        border-radius: 30px;
        padding: 0;
        min-width: 30px;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        flex-grow: 1;
    }
}

footer {
    text-align: center;
    font-size: small;
    margin-top: 2rem;
}

h1 {
    grid-area: header-area;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 10px;
    & > p {
        margin: 5px;
        &:nth-child(1) {
            color: hsl(0, 36%, 70%);
            font-weight: 300;
        }
    }
}

/* Mobile */
@media screen and (max-width: 375px) {
    #main-img {
        content: url(images/hero-mobile.jpg);       
    }

    .main {
        grid-template-columns: 1;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "logo-area"
        "img-area"
        "header-area"
        "text-area"
        "form-area";
    }

    h1 {
        text-align: center;
    }

    form {
        width: 80%;
        margin: 1rem 1rem 4rem 1rem;
        & button {
            width: 40px;
        }
    }
}

/* Desktop */
@media screen and (min-width: 376px) {
    #main-img {
        content: url(images/hero-desktop.jpg);
        grid-area: img-area;
        width: 100%;
        height: 100%;
    }

    body {
        flex-direction: row;
    }

    .main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "logo-area img-area"
        "header-area img-area"
        "text-area img-area"
        "form-area img-area";
    }
}